html, body {
	background-color: #fdf6e3;
	color: #839496;
}

a, a:visited, a:active {
	color: #2aa198;
	border-color: #eee8d5;
}

a:hover {
	background-color: #eee8d5;
	border-color: #eee8d5;
	color: #2aa198;
}

h1, h2, h3 {
	color: #cb4b16;
}

h1 a, h1 a:visited, h1 a:active {
	color: #cb4b16;
}

h1 a:hover {
	background-color: #eee8d5;
	border-color: #eee8d5;
}

article h1 a.anchor {
	color: #2aa198;
}

blockquote {
	border-color: #cb4b16;
}

#sidebar a:hover {
	color: #2aa198;
	background-color: #eee8d5;
}

#footer {
	border-color: #eee8d5;
}

pre code{
	background-color: #eee8d5;
	color: #657b83;
	border: 1px solid #d6ceb6;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}
